main{
  .banner {
    position: relative;
    @include positionZero;
    height: 600px;
    width: 100%;
    margin-bottom: 50px;

    .banner-overlay {
      position: absolute;
      @include positionZero;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      z-index: 1;
    }

    .banner-img {
      position: absolute;
      @include positionZero;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    h1 {
      position: absolute;
      top: 30%;
      color: $white;
      z-index: 3;
    }

    p {
      position: absolute;
      top: 45%;
      width:100%;
      color: $white;
      z-index: 3;
    }
  }
  .card-list {
    a {
      color: $black;
    }
  }
  img.card-img-top {
    height: 195px;
  }
}
