#product-details {
  .product-informations {
    background-color: #f6f5f0;
    border: 1px solid $gray-600;
    border-radius: 10px;
    padding: 20px;
  }

  .lenses-select {
    max-width: 300px;

    select {
      height: 35px;
    }
  }
}
