header {
  &.home-header {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }

  &.product-header {
    background: #2F4858;
  }

  .logo {
    font-size: 36px;
    font-weight: bold;
    color: $white;
  }
}
